<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Register</h1>
    <form action="/register" method="POST">
        <label for="first_name">First name</label><br>
        <input type="text" id="first_name" name="first_name"><br>
        
        <label for="last_name">Last name</label><br>
        <input type="text" id="last_name" name="last_name"><br>
        
        <label for="email">Email</label><br>
        <input type="text" id="email" name="email"><br>
        
        <label for="username">Username</label><br>
        <input type="text" id="username" name="username"><br>
        
        <label for="password">Password</label><br>
        <input type="text" id="password" name="password"><br>

        <button type="submit">Register</button>
    </form>

    <% if (error) { %>
        <p style="color: red;"><%= error %></p>
    <% } %>

    <% if (user_exists) { %>
        <p style="color: red;"><%= user_exists %></p>
    <% } %>

    <% if (success) { %>
        <p style="color: green;"><%= success %></p>
    <% } %>

</body>
</html>